.container
  .row
    .col-md-12
      h2 Sage: a SPARQL query engine for public Linked Data providers
      p.
        Sage is a SPARQL query engine for public Linked Data providers that implements Web preemption. The SPARQL engine includes a smart Sage client and a Sage SPARQL query server hosting RDF datasets (hosted using <a href="http://www.rdfhdt.org/">HDT</a>). SPARQL queries are suspended by the web server after a fixed quantum of time and resumed upon client request. Using Web preemption, Sage ensures stable response times for query execution and completeness of results under high load.
      p.
        The complete approach and experimental results are available in a Research paper accepted at The Web Conference 2019, <a href="https://hal.archives-ouvertes.fr/hal-02017155/document">available here</a>. <em>Thomas Minier, Hala Skaf-Molli and Pascal Molli. "SaGe: Web Preemption for Public SPARQL Query services" in Proceedings of the 2019 World Wide Web Conference (WWW'19), San Francisco, USA, May 13-17, 2019</em>.
      p.
        We appreciate your feedback/comments/questions to be sent to our <a href="mailto:sage@univ-nantes.fr">mailing list</a> or <a href="https://github.com/sage-org/sage-engine/issues">our issue tracker on github</a>.
