.container#query
  .row
    .col-md-12
      h2
        i(class="fab fa-hubspot")
        |  Query online Linked Data using SaGe
      p
        em.
          Running in your Web Browser, powered by the <a href="https://github.com/sage-org/sage-client">SaGe Javascript client</a>
      p.
        Execute SPARQL queries against any RDF datasets hosted by the SaGe server,
        using a client-server query engine running in your browser
      p
        a(href="/sparql11_compliance")
          | See the supported SPARQL 1.1 features
      #sage-widget(urls=urls.join(','), defaultServer='')
